<div class="products-container">
    <div class="products-header">
        <h1>Products</h1>
        <button mat-raised-button color="primary" routerLink="/products/create">New product</button>
    </div>
    <div class="products-list">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Discounted Price</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{ product.name }}</td>
                    <td>{{ product.discountedPrice | currency }}</td>
                    <td>{{ product.stock }}</td>
                    <td>
                        <button mat-icon-button color="accent" [routerLink]="['/platform/products', product.id]">
                            <mat-icon class="blue-icon">visibility</mat-icon>
                        </button>
                        <button mat-icon-button color="secondary" [routerLink]="['/platform/products/edit', product.id]">
                            <mat-icon class="blue-icon">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="secondary" (click)="deleteProduct(product.id)">
                            <mat-icon class="blue-icon">delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>