.products-container {
  background: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  padding: var(--app-spacing);
  border-radius: var(--app-border-radius);
  display: flex;
  flex-direction: column;
}

.products-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products-list table {
  background: var(--mat-sys-surface-container-high);
  color: var(--mat-sys-on-surface);
}

.products-list th {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  font-weight: bold;
}

.products-list tr:hover {
  background: var(--mat-sys-surface-variant);
}
